<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header text-center">
            <h2 class="mt-1 mb-0 text-center text-secondary">Author details</h2>
        </div>

        <div class="card-body">
            <ul class="list-group">
                <ul class="list-group text-dark mb-3">
                    <li class="list-group-item active text-center">{{ author.name }} {{ author.lastName }} Information</li>
                    <li class="list-group-item">Name: {{ author.name }}</li>
                    <li class="list-group-item">Last Name: {{ author.lastName }}</li>
                    <li class="list-group-item">Tag Name: {{ author.tagName }}</li>
                    <li class="list-group-item">Email: ilegal_sprite@outlook.com</li>
                    <li class="list-group-item">Registration date: 02/04/2023</li>
                    <li class="list-group-item">Region: Mexico</li>
                </ul>
            </ul>
        </div>
    </div>
</div>
